@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import "../../theme.scss";
$screen-ratio: 1vw;

html * {
    margin: 0;
    padding: 0;
    font-family: 'MyFont' !important;
    font-weight: 400;
}
/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
a {
    text-decoration: none !important;
}
.customizePathway{
    .topSection, .motive, .motiveContainer{
        display: flex;
        align-items: center;
    }
    .topSection{
        padding-top: calc(($screen-ratio)*6);
        .pathwayBreadcrumbDiv{
          padding-left: 4vw;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: calc(($screen-ratio)*4);
          .backButton{
            color: #000;
            height: fit-content;
            text-transform: capitalize;
            font-weight: $font-weight-semibold;
            gap: calc(($screen-ratio)*0.5);
            padding: 0;
            // padding: 0 calc(($screen-ratio)*4) 0 0;
        }
        }
    }
    .motiveContainer{
        justify-content: flex-end;
        .motive{
            background-color: #509E82;
            gap: calc(($screen-ratio)*0.5);
            padding: 5px;
            color: $text-color-white;
            margin-bottom: calc(($screen-ratio)*2);
            font-size: calc(($screen-ratio)*0.8);
            padding: calc(($screen-ratio)*0.5);
            padding-right: calc(($screen-ratio)*1.4);
            border-radius: calc(($screen-ratio)*0.2);
        }
    }

}
.otpInputbox{
    input{
        width: 40px;
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 1.5;
        padding: 8px 0px;
        border-radius: 8px;
        text-align: center;
        border: 1px solid #A04179;
    }
    &:hover {
        border-color: #005CB5;
    }    
    &:focus {
        border-color: #005CB5;
        box-shadow: 0 0 0 3px #005CB5;
    }
}
.otpInputboxDisabled{
    input{
        width: 40px;
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 1.5;
        padding: 8px 0px;
        border-radius: 8px;
        text-align: center;
        border: 1px solid #A04179;
        background-color: #ECECEC !important;
    }
}

.signinPage{
    display: flex;
    justify-content: center;
    .signinPageContainer{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        // padding: calc(($screen-ratio)*1);
        padding-top: calc(($screen-ratio)*3);
        background-color: $background-color-light;
        border-radius: calc(($screen-ratio)*1);
        h1{
            font-weight: $font-weight-semibold;
            padding-left: calc(($screen-ratio)*2);
        }
        .closeIcon{
            position: absolute;
            right: 0;
            top: 0;
        }
        .signinForm{
            padding: calc(($screen-ratio)*2);
            display: grid;
            grid-template-columns: 1fr;
            gap: calc(($screen-ratio)*0.5);
            .formInputbox{
                font-size: 0.875rem;
                font-weight: 400;
                line-height: 1.5;
                padding: 8px 8px;
                gap: 10px;
                border-radius: 8px;
                text-align: left;
                align-items: center;
                display: flex;
                border: 1px solid #A04179;
                hr{
                    height: 100%;
                }
                input{
                    padding: calc(($screen-ratio)*0.2);
                    border: none;
                    font-size: 0.875rem;
                    font-weight: 400;
                    line-height: 1.5;
                    outline: none;
                }
            }
            .formInputboxName{
                font-size: 0.875rem;
                font-weight: 400;
                line-height: 1.5;
                padding: 10px 8px;
                gap: 10px;
                border-radius: 8px;
                text-align: left;
                align-items: center;
                display: flex;
                border: 1px solid #A04179;
                hr{
                    height: 100%;
                }
                input{
                    padding: calc(($screen-ratio)*0.2);
                    border: none;
                    font-size: 0.875rem;
                    font-weight: 400;
                    line-height: 1.5;
                    outline: none;
                }
            }
            .gradientButton{
                @extend.gradient-common-button;
                border-radius: calc(($screen-ratio) *2);
                font-weight: $font-weight-normal !important;
            }
            .gradientButtonSendOtp{
                padding: calc(($screen-ratio) * 0.5);
                color: $text-color-white !important;
                text-transform: capitalize !important;
                font-weight: $font-weight-normal;
                border: transparent;
                border-radius: calc(($screen-ratio) *2); 
                background-image: linear-gradient(to right, #006400, #000000);
            }
            .continueGradientButton{
                @extend.gradient-common-button;
                border-radius: calc(($screen-ratio)*0.75) !important;
                padding: calc(($screen-ratio)*0.5);
                margin-top: 2em;
            }
            .disabledButton{
                @extend.disabled-common-button;
                border-radius: calc(($screen-ratio) *2); 
            }
            .continueDisabledButton{
                @extend.disabled-common-button;
                border-radius: calc(($screen-ratio) *0.75); 
                margin-top: 2em;
            }
            .phoneRow{
                display: grid;
                grid-template-columns: 3fr 1fr;
                gap: calc(($screen-ratio)*0.5);
                .iconsInline{
                    display: flex;
                    align-items: center;
                    color: #509E82;
                    font-size: small;
                }
            }
            .otpRow{
                display: grid;
                grid-template-columns: 4fr 1fr;
                .otpButton{
                    @extend.gradient-common-button;
                    border-radius: calc(($screen-ratio) *2);
                }
                .iconsInline{
                    display: flex;
                    align-items: center;
                    color: #509E82;
                    font-size: small;
                }
            }
            .errorMessage{
                font-size: small;
                color: red;
            }
            .termsAndPolicy{
                display: flex;
                gap: calc(($screen-ratio)*0.5);
                span{
                    font-weight: $font-weight-semibold;
                    text-decoration: underline;
                }
            }
            .orSection{
                text-align: center;
            }
            .googleButton{
                text-transform: capitalize;
                gap: calc(($screen-ratio)*0.5);
                border: 1px solid #ABABAB;
                border-radius: calc(($screen-ratio)*0.75);
            }
    
        }
    }

}
.siginCornerPopover {
    border-radius: calc(($screen-ratio) * 1);
}

.tranportBox{
    text-align: center;
    .modeOfTransportContent{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .distanceDisplay{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
            align-items: center;
            width: 80%;
            .distanceDisplayTitle{
                font-weight: $font-weight-semibold;
            }
        }
    }
    

}

.transportCard{
    display: flex;
    flex-wrap: wrap;
    gap: calc(($screen-ratio)*1);
    padding: calc(($screen-ratio)*2.5);
    justify-content: center;
    align-items: center;
    .selected{
        background-image: linear-gradient(to right, #90EE90, #BCE3C5, #D2EAD7);
    }
    .contentButton{
        border: 1px solid #A04179;
        border-radius: calc(($screen-ratio)*0.75);
        text-transform: capitalize;
        .content{
            padding: calc(($screen-ratio)*1.5);
            width: calc(($screen-ratio)*14);
            height: calc(($screen-ratio)*8);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .icon{
                background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 70.48%, #FFF 93.62%, rgba(255, 255, 255, 0.00) 100%),linear-gradient(180deg, rgba(30, 54, 87, 0.00) 0%, rgba(30, 54, 87, 0.01) 100%), #FAFAFA;
                box-shadow: 0px 1.432px 1.074px 0px rgba(255, 255, 255, 0.50) inset, 0px -2.864px 1.074px 0px rgba(22, 36, 44, 0.06) inset, 0px 5.729px 11.457px -5.729px rgba(22, 36, 44, 0.16), 0px 1.432px 2.864px 0px rgba(22, 36, 44, 0.16), 0px 0px 0px 1.432px rgba(22, 36, 44, 0.12);
                padding: 5px;
                border-radius: 50%;
                width: 40px;
                height: 40px;
            }
            .transportTitle{
                font-weight: $font-weight-semibold;
            }
        }
    }
}

.ohnoComponent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: calc(($screen-ratio)*3);
    text-align: center;
    .heading{
        padding-bottom: 0;
        margin-bottom: calc(($screen-ratio)*0.5);
        font-weight: $font-weight-semibold;
    }
    .content{
        color: #555555;
        width: calc(($screen-ratio)*20);
    }
    .buttonsSection{
        display: flex;
        align-items: center;
        margin-top: calc(($screen-ratio)*2);
        gap: calc(($screen-ratio)*1);
        .retryButton{
            @extend.gradient-common-button;
            width: calc(($screen-ratio)*25);
            font-size: large !important; 
            border-radius: calc(($screen-ratio)*0.5) !important;
        }
    }
    
}
.errorMessages{
    color: red;
}
.distanceBox{
    width: 100%;
    text-align: center;
    .distanceContainer{
        height: 400px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .mapFeatureButtons{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: calc(($screen-ratio)*0.5);
        padding: calc(($screen-ratio)*1) 0 ;
        .restartButton{
            background-color: #E4AF0B;
            color: $text-color-white;
            text-transform: capitalize;
        }
        .startDistanceButton{
            background-color: #2B81E4; 
            color: $text-color-white;
            text-transform: capitalize;
        }
        .detectStartLocationButton{
            background-color: #5390EE; 
            color: $text-color-white;
            text-transform: capitalize;
        }
        .endDistanceButton{
            background-color: #E65446; 
            color: $text-color-white;
            text-transform: capitalize;
        }
        .endDistanceButton:disabled,
        .detectEndLocationButton:disabled{
            opacity: 0.4;
        }
        .detectEndLocationButton{
            background-color: #DA0000; 
            color: $text-color-white;
            text-transform: capitalize;
        }

    }
    .distanceInfo{
        .distanceTitle{
            font-weight: $font-weight-semibold;
        }
    }

}



//Stepper 
.nextButton{
    @extend.gradient-common-button;
    width: calc(($screen-ratio)*18);
    font-size: large !important; 
    border-radius: calc(($screen-ratio)*0.5) !important;
}
.backButtonStepper{
    width: calc(($screen-ratio)*15); 
    text-transform: capitalize !important;
    color: #666666 !important;
    font-weight: $font-weight-medium !important;
    font-size: medium !important;
    gap: calc(($screen-ratio)*0.5);
}

.transportTypeModal{
    background-color: $background-color-light;
    width: 80%;
    .transportTypeOptions{
        padding: calc(($screen-ratio)*2);
        .transportTypesList{
            display: flex;
            gap: calc(($screen-ratio)*1);
            .selected{
                background-image: linear-gradient(to right, #90EE90, #BCE3C5, #D2EAD7);
            }
            .contentButton{
                border: 1px solid #A04179;
                border-radius: calc(($screen-ratio)*0.75);
                text-transform: capitalize;
                padding: calc(($screen-ratio)*1.5);
                width: calc(($screen-ratio)*14);
                height: calc(($screen-ratio)*8);
            }

        }
        

    }
    .transportMapContainer{
        padding: 0 calc(($screen-ratio)*2) calc(($screen-ratio)*1) calc(($screen-ratio)*2);
        .transportTypeModalButtons{
            display: flex;
            gap: calc(($screen-ratio)*1);
            padding: calc(($screen-ratio)*0.2);
            .mapButton{
                background-color: #2B81E4; 
                color: $text-color-white;
                text-transform: capitalize;
            }
            .mapButton:disabled {
                opacity: 0.6; 
            }
        }
        .distanceContainer{
            height: 400px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

    }

}





//Common Styling
.gradient-common-button{
    background-image: linear-gradient(to right, #006400, #000000);
    color: $text-color-white !important;
    text-transform: capitalize !important;
    font-weight: $font-weight-semibold;
    border: transparent;
    border-radius: calc(($screen-ratio) * 2);
}
.disabled-common-button{
    padding: calc(($screen-ratio) * 0.5);
    background-color: #B8B8B8 !important;
    color: $text-color-white !important;
    text-transform: capitalize !important;
    font-weight: $font-weight-normal;
    border: transparent;
    // border-radius: calc(($screen-ratio) *2);  
}




//MUI Stepper Styling 
[class*='Mui-completed']{
    color: #1D8841 !important;
}
[class*='MuiStepper-root']{
    width: 100%;
    padding: calc(($screen-ratio)*2) 0;
}

@media only screen and (max-width: 640px) {
    .customize-pathway{
        .top-section, .motive, .motive-container{
            display: flex;
            align-items: center;
        }
        .top-section{
            padding-top: calc(($screen-ratio)*20);
            .pathway-breadcrumb-div{
            //   padding-left: calc(($screen-ratio)*4);
                padding-left: 0;
              display: flex;
              justify-content: center;
              align-items: center;
              gap: calc(($screen-ratio)*4);
              nav{
                ol{
                    margin-bottom: 0;
                }
              }
              .back-button{
                display: none;
              }
            }  
        }
        .motive-container{
            .motive{
                gap: calc(($screen-ratio)*1.5);
                margin-bottom: calc(($screen-ratio)*2);
                font-size: calc(($screen-ratio)*3);
                max-width: 50%;
                padding: calc(($screen-ratio)*1.5);
                padding-right: calc(($screen-ratio)*1);
                border-radius: calc(($screen-ratio)*1.2);
            }
        }
    }
    .signinPage{
        width: 100%;
        .signinPageContainer{
            background-color: #FAFAFA;
            // padding-top: calc(($screen-ratio)*6);
            border-radius: calc(($screen-ratio)*2);
           padding: 20px 16px;
            width: 100%;
            h1{
                font-size: calc(($screen-ratio)*7);
                padding-left: 0;
            }
            .signinForm{
                gap: calc(($screen-ratio)*1);
                .formInputbox{
                    font-size: 0.875rem;
                    font-weight: 400;
                    line-height: 1.5;
                    padding: 8px 8px;
                    gap: 10px;
                    border-radius: 8px;
                    hr{
                        height: 100%;
                    }
                    input{
                        padding: calc(($screen-ratio)*0.2);
                        border: none;
                        font-size: 0.875rem;
                        font-weight: 400;
                        line-height: 1.5;
                        outline: none;
                    }
                }
                .formInputboxName{
                    font-size: 0.875rem;
                    font-weight: 400;
                    line-height: 1.5;
                    padding: 10px 8px;
                    gap: 10px;
                    border-radius: 8px;
                    hr{
                        height: 100%;
                    }
                    input{
                        padding: calc(($screen-ratio)*0.2);
                        border: none;
                        font-size: 0.875rem;
                        font-weight: 400;
                        line-height: 1.5;
                        outline: none;
                    }
                }
                .gradientButton{
                    // @extend.gradient-common-button;
                    border-radius: calc(($screen-ratio) *2);
                    font-weight: $font-weight-normal !important;
                }
                .gradientButtonSendOtp{
                    padding: calc(($screen-ratio) * 2);
                    border-radius: calc(($screen-ratio) *2);
                    margin-top: calc(($screen-ratio)*4);
                }
                .continueGradientButton{
                    border-radius: calc(($screen-ratio)*2) !important;
                    padding: calc(($screen-ratio)*2);
    
                }
                .disabledButton{
                    // @extend.disabled-common-button;
                    border-radius: calc(($screen-ratio) *2); 
                    padding: calc(($screen-ratio) * 2);
                    margin-top: calc(($screen-ratio)*4);
                }
                .continueDisabledButton{
                    // @extend.disabled-common-button;
                    border-radius: calc(($screen-ratio) *2); 
                    padding: calc(($screen-ratio)*2);
                }
                .phoneRow{
                    display: flex;
                    flex-direction: column;
                    gap: calc(($screen-ratio)*0.5);
                    .iconsInline{
                        justify-content: end;
                    }
                }
                .otpRow{
                    display: flex;
                    flex-direction: column;
                    .otpButton{
                        // @extend.gradient-common-button;
                        border-radius: calc(($screen-ratio) *2);
                    }
                    .iconsInline{
                        justify-content: end;
                    }
                }
                .errorMessage{
                    font-size: small;
                    color: red;
                    font-style: italic;
                }
                .termsAndPolicy{
                    gap: calc(($screen-ratio)*1);
                    padding-bottom: calc(($screen-ratio)*2);
                }
                .googleButton{
                    text-transform: capitalize;
                    gap: calc(($screen-ratio)*0.5);
                    border: 1px solid #ABABAB;
                    border-radius: calc(($screen-ratio)*0.75);
                }
            }
        }
    }
    .errorMessages{
        font-style: italic;
    }
    .ohnoComponent{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: calc(($screen-ratio)*3);
        padding-top: calc(($screen-ratio)*10);
        text-align: center;
        .heading{
            padding-bottom: 0;
            margin-bottom: calc(($screen-ratio)*2);
        }
        .content{
            width: 100%;
        }
        .buttonsSection{
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
            margin-top: calc(($screen-ratio)*7);
            gap: calc(($screen-ratio)*2);
            .retryButton{
                // @extend.gradient-common-button;
                width: 100%;
                font-size: large !important; 
                font-weight: $font-weight-normal;
                border-radius: calc(($screen-ratio)*2) !important;
            }
            .backButtonStepper{
                width: 100% !important;
            }
        }
        
    }
    //Stepper 
    .nextButton{
        // @extend.gradient-common-button;
        width: calc(($screen-ratio)*40);
        font-size: medium !important; 
        border-radius: calc(($screen-ratio)*2) !important;
    }
    .backButtonStepper{
        width: calc(($screen-ratio)*40); 
        text-transform: capitalize !important;
        color: #666666 !important;
        font-weight: $font-weight-medium !important;
        font-size: medium !important;
        gap: calc(($screen-ratio)*0.5);
    }

    //MUI Stepper Styling
    .MuiStepper-root{
        width: 100%;
        padding-top: calc(($screen-ratio)*8);
    }
    .MuiStepLabel-alternativeLabel.MuiStepLabel-label{
        font-size: x-small;
    }

}