@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
$screen-ratio: 1vw;
@import "../../theme.scss";

html * {
    margin: 0;
    padding: 0;
    font-family: 'MyFont' !important;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: black;
}

.animationContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    .animationSubHeading{
        font-weight: $font-weight-semibold;
        padding: calc(($screen-ratio)*0.5);
    }
}

.bicycleCard{
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #f3f3f3;
    width: calc(($screen-ratio)*20);
    display: flex;
    flex-direction: column;
    .bicycleLogo{
        width: 100%;
        height: calc(($screen-ratio)*15);
        max-height: calc($screen-ratio*15);
    }
    .bicycleBottomContent{
        padding: calc(($screen-ratio)*1);
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: space-between;
        .bicycleLocation{
            color: #7D7C7F;
        }
        .bicycleSubTitle{
            color: #1976D2;
            font-weight: $font-weight-medium;
        }
        .bicycleDesc{
            font-size: x-small;
            font-style: italic;
            color: #998E8E;
        }
        .bicycleButton{
            background-color: $background-color-primary;
            color: $text-color-white;
            text-transform: capitalize;
        }
    }
}

.bicycleBooking{
    padding: calc(($screen-ratio)*4);
    .bicycleBookingList{
        display: flex;
        flex-wrap: wrap;
        gap: calc(($screen-ratio)*2);
    }

}