@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
$screen-ratio: 1vw;
@import "../../theme.scss";

html * {
    margin: 0;
    padding: 0;
    font-family: 'MyFont' !important;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: black;
}

.carbonCalculatedContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .carbonCalculatedCard{
        background-image: linear-gradient(to right, #00BFA5, #004D40);;
        border-radius: calc(($screen-ratio)*0.5);
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        padding: calc(($screen-ratio)*2) calc(($screen-ratio)*8);
        margin: calc(($screen-ratio)*5);
        max-width: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .caption{
            font-weight:  $font-weight-semibold;
            text-transform: capitalize;
            color: #FFD580;
        }
        .carbonItem{
            padding: calc(($screen-ratio)*0.75);
            .modeName{
                padding: calc(($screen-ratio)*0.5) calc(($screen-ratio)*2) calc(($screen-ratio)*0.5) calc(($screen-ratio)*2);
                background-color: #B2FFFC;
                color: $text-color-dark;
                width: fit-content;
                border-radius: calc(($screen-ratio)*0.5);
            }
            p{
                font-weight: $font-weight-bold;
                color:  #FFD580;
                .subtitle{
                    font-weight: $font-weight-semibold;
                    color:  $text-color-white;
                    letter-spacing: 1px;
                }
                .units{
                    font-weight: $font-weight-medium;
                    color: gray;
                }
            }
            
        }
        .totalCarbon{
            text-align: center;
            .totalCarbonTitle{
                font-weight: $font-weight-bold;
                text-transform: uppercase;
                letter-spacing: 2px;
                color: #B2FFFC;
            }
            .totalCarbonContent{
                font-weight: $font-weight-bold;
                color:  #FFD580;
                span{
                    font-weight: $font-weight-medium;
                    color: gray;
                }
            }
        }
    
    }    
}
.leaderboardBox{
    width: 100%;
    .leaderboardTitle{
        font-weight: $font-weight-bold;
        padding: 0 calc(($screen-ratio)*3);
    }
    .leaderboardContainer{
        display: flex;
        flex-direction: column;
        padding: calc(($screen-ratio)*2);
        gap: calc(($screen-ratio)*0.5);
        .leaderboardCardHeading{
            background-color: $background-color-dark;
            color: $text-color-white;
            display: flex;
            justify-content: space-between;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            text-transform: uppercase;
            padding: calc(($screen-ratio)*1);
        }
        .leaderboardCard{
            padding: calc(($screen-ratio)*1.5);
            display: flex;
            justify-content: space-between;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            .rankRounded{
                background-color: $background-color-light;
                color: black;
                padding: 4px 10px;
                border-radius: 50%;
            }
            .rankUsername{
                text-transform: capitalize;
                color: $text-color-white;
                font-weight: $font-weight-medium;
            }
            .carbonFootprintText{
                color: gray;
                .carbonFootprintValue{
                    font-weight: $font-weight-bold;
                    color:  #FFD580;
                }

            }
        }
    }
}

